---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<h1>Manny Aguilera</h1>

		<img src="https://media.tenor.com/pL4dH1MeT1kAAAAC/mortal-kombat.gif" alt="Rain">

	</body>
</html>
